html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------*/

body
{
	font-family: 'Archivo Black', arial, sans serif;
	background:#000;
	color:#fff;
}

/*-----------*/

input {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Archivo Black', arial, sans serif;
    font-size: 2em;
    background-color: blue;
    width: 420px;
    height: 70px;
    color:#fff;
    line-height: 2em;
    overflow: hidden;
    outline: none;
    border: none;
    position: absolute;
    top: 50px;
    left: 50px;
    text-transform: uppercase;
    border: 10px solid #fff;
}

input:focus {
    background-color: #000;
    -webkit-transition: background-color 500ms; /* Safari */
    transition: background-color 500ms;
}

img {
    border: 10px solid #fff;
    width: 300px;
    position:fixed;
    }
    
img:nth-of-type(1){
    top:110px;
    left:100px;
}

img:nth-of-type(2){
    top:160px;
    left:150px;
}

img:nth-of-type(3){
    top:210px;
    left:200px;
}

img:nth-of-type(4){
    top:260px;
    left:250px;
}

img:nth-of-type(5){
    top:310px;
    left:300px;
}

img:nth-of-type(6){
    top:360px;
    left:350px;
}

.text{
position: fixed;
}

.text:nth-of-type(1){
    top:175px;
    left:520px;
}

.text:nth-of-type(2){
    top:225px;
    left:570px;
}

.text:nth-of-type(3){
    top:275px;
    left:620px;
}

.text:nth-of-type(4){
    top:325px;
    left:670px;
}

.text:nth-of-type(5){
    top:375px;
    left:720px;
}

.text:nth-of-type(6){
    top:425px;
    left:770px;
}
.text{display:none; text-transform: uppercase;}
img:hover+p{display:block;}
img:hover{z-index: 1000;}